.list {
  list-style: none;
}

.link_btn {
  display: block;
  text-decoration: none;
  padding-top: 26px;
  padding-bottom: 26px;
  color: var(--main-text);
  cursor: pointer;

  font-weight: 500;
}

.link_btn:hover {
  color: var(--accent-color);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .nav {
    position: absolute;
    left: 0;
    top: 70px;
    width: 100%;
    height: calc(100% - 70px);
    z-index: 999;
    background: #f5f6fb;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform var(--transition), opacity var(--transition);
  }

  .nav.active {
    opacity: 1;
    transform: translateX(0);
  }

  .list {
    display: flex;
    flex-direction: column;
  }

  .nav_item {
    width: 100%;
    text-align: center;
  }

  .nav_item:not(:last-child) {
    border-bottom: 1px solid #e2e3e5;
  }
  .link_btn_active {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding-top: 26px;
    padding-bottom: 26px;
    color: var(--main-text);
    cursor: pointer;
    font-size: 16px;
    line-height: 1.14;
    font-weight: 500;
  }
  .link_btn_active::after {
    content: '';
    position: absolute;
    left: 0;
    top: 63%;
    width: 100%;
    border-bottom: 2px solid var(--accent-color);
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .nav_item {
    position: relative;
  }
  .nav_item:not(:last-child) {
    margin-right: 60px;
  }

  .list {
    display: flex;
  }

  .link_btn {
    font-size: 12px;
    line-height: 1.33;
  }
  .link_btn_active {
    position: relative;
    display: block;
    text-decoration: none;
    padding-top: 26px;
    padding-bottom: 26px;
    color: var(--main-text);
    cursor: pointer;
    font-size: 12px;
    line-height: 1.33;

    font-weight: 500;
  }
  .link_btn_active::after {
    content: '';
    position: absolute;
    left: 0;
    top: 63%;
    width: 100%;
    border-bottom: 2px solid var(--accent-color);
  }
}

@media screen and (min-width: 1280px) {
  .nav_item {
    position: relative;
  }
  .nav_item:not(:last-child) {
    margin-right: 80px;
  }

  .list {
    display: flex;
  }

  .link_btn {
    font-size: 14px;
    line-height: 1.14;
  }
  .link_btn_active {
    position: relative;
    display: block;
    text-decoration: none;
    padding-top: 26px;
    padding-bottom: 26px;
    color: var(--main-text);
    cursor: pointer;
    font-size: 14px;
    line-height: 1.14;

    font-weight: 500;
  }
  .link_btn_active::after {
    content: '';
    position: absolute;
    left: 0;
    top: 63%;
    width: 100%;
    border-bottom: 2px solid var(--accent-color);
  }
}
