.burger {
  position: relative;
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: 20px;

  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

.burger__icon {
  position: absolute;
  width: 26px;
  height: 26px;
  fill: currentColor;

  transition: color var(--transition), transform var(--transition),
    overflow var(--transition);
}

.burger__icon:hover {
  color: var(--accent-color);
}

.burger__open {
  composes: burger__icon;
  opacity: 1;
  overflow: visible;
  transform: scaleX(1);
}

.active .burger__open {
  opacity: 0;
  overflow: hidden;
  transform: scaleX(0);
}

.burger__close {
  composes: burger__icon;

  opacity: 0;
  overflow: hidden;
  transform: rotateZ(120deg) scale(0);
}

.active .burger__close {
  opacity: 1;
  overflow: visible;
  transform: rotateZ(0deg) scale(1);
}

@media screen and (min-width: 768px) {
  .burger {
    display: none;
  }
}
